{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Aiman Benslaiman | Digital CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Desarrollador Backend con experiencia en Python y Django, enfocado en crear APIs robustas y aplicaciones web escalables."
    />
    <meta
      name="keywords"
      content="Aiman Benslaiman, Backend Developer, Python, Django"
    />
    <meta name="author" content="Aiman Benslaiman" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon"/>
    <link href="{% static 'assets/img/apple-touch-icon.ico' %}" rel="apple-touch-icon" />

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="{% static 'assets/css/styles_cv.css' %}">
</head>
<body>
    <!--========== HEADER ==========-->
    <header class=" l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Aiman</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">
                            <i class='bx bx-home nav__icon'></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#profile" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>Profile
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#education" class="nav__link">
                            <i class='bx bx-book nav__icon'></i>Education
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class='bx bx-receipt nav__icon'></i>Skills
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#experience" class="nav__link">
                            <i class='bx bx-briefcase-alt nav__icon'></i>Experience
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#certificates" class="nav__link">
                            <i class='bx bx-award nav__icon'></i>Certificates
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>
        </nav>
    </header>

    <main class="l-main bd-container">
        <!-- Todo lo de dentro de este div se usa para el PDF -->
        <div class="resume" id="area-cv">
            <div class="resume__left">
                <!--========== HOME ==========-->
                <section class="home" id="home">
                    <div class="home__container section bd-grid">
                        <div class="home__data bd-grid">
                            <h1 class="home__title"><b>Aiman Benslaiman</b></h1>
                            <h3 class="home__profession">Desarrollador Backend</h3>
                            <!-- View CV -->
                            <div>
                                <!-- Enlaza a tu CV en PDF (Drive, Notion, etc.) -->
                                <a href="https://tulink-al-cv.com" target="_blank"
                                   class="home__button-movil">Download</a>
                            </div>
                        </div>
                        <div class="home__address bd-grid">
                            <span class="home__information">
                                <i class='bx bx-map home__icon'></i> Toledo, España
                            </span>
                            <a href="mailto:aimanecom77@gmail.com" target="_blank" class="home__information">
                                <i class='bx bx-envelope home__icon'></i> aimanecom77@gmail.com
                            </a>

                        </div>
                    </div>
                    <!-- Botón tema -->
                    <i class="bx bx-moon change-theme" title="Theme" id="theme-button"></i>
                    <!-- Botón descargar PDF (mismo enlace que arriba o tu futuro generador de PDF) -->
                    <a title="Download PDF" class="bx bx-download generate-pdf"
                       href="https://tulink-al-cv.com" target="_blank"></a>
                </section>

                <!--========== SOCIAL ==========-->
                <section class="social section">
                    <h2 class="section-title">SOCIAL</h2>

                    <div class="social__container bd-grid">
                        <a href="www.linkedin.com/in/aiman-benslaiman-benslaiman-65ab51317" target="_blank" class="social__link">
                            <i class='bx bxl-linkedin-square social__icon'></i> @aimanbenslaiman
                        </a>

                        <a href="https://github.com/aimanjr77tech" target="_blank" class="social__link">
                            <i class='bx bxl-github social__icon'></i> @aimanjr77tech
                        </a>
                    </div>
                </section>

                <!--========== PROFILE ==========-->
                <section class="profile section" id="profile">
                    <h2 class="section-title">Perfil</h2>
                    <p class="profile__description">
                        Desarrollador Backend con enfoque en Python y Django, apasionado por construir APIs limpias,
                        escalables y bien documentadas. Me interesa especialmente el diseño de arquitecturas sólidas,
                        la automatización de procesos y las buenas prácticas de desarrollo (tests, patrones de diseño,
                        clean architecture). Disfruto trabajando en equipo, aprendiendo tecnologías nuevas y
                        participando en proyectos donde pueda aportar tanto en la parte técnica como en la resolución
                        de problemas de negocio.
                    </p>
                </section>

                <!--========== EDUCATION ==========-->
                <section class="education section" id="education">
                    <h2 class="section-title">Educación</h2>

                    <div class="education__container bd-grid">
                        <!-- Ejemplo 1 -->
                        <div class="education__content">
                            <div class="education__time">
                                <span class="education__rounder"></span>
                                <span class="education__line"></span>
                            </div>
                            <div class="education__data bd-grid">
                                <h3 class="education__title">Grado Superior en Desarrollo de Aplicaciones Multiplataforna</h3>
                                <span class="education__studies">IES Ribera del Tajo - Talavera de la Reina, Toledo</span>
                                <span class="education__year">2023 - 2025</span>
                            </div>
                        </div>

                        <!-- Ejemplo 2 -->
                        <div class="education__content">
                            <div class="education__time">
                                <span class="education__rounder"></span>
                                <!-- Sin línea si es el último -->
                            </div>
                            <div class="education__data bd-grid">
                                <h3 class="education__title">Bachillerato de Ciencias</h3>
                                <span class="education__studies">IES Julio Verne - Bargas, Toledo</span>
                                <span class="education__year">2019 - 2021</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!--========== SKILLS  ==========-->
                <section class="skills section hide" id="skills">
                    <h2 class="section-title">Skills</h2>

                    <div class="skills__content bd-grid">
                        <div class="skills__name">
                            <span class="skills__circle"></span> API REST
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> Django & Django REST Framework
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> PostgreSQL / SQLite
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> Microservicios
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> Git & GitHub
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> Linux & línea de comandos
                        </div>
                        <div class="skills__name">
                            <span class="skills__circle"></span> Arquitectura Limpia (Clean Architecture)
                        </div>
                    </div>

                    <a href="#" class="skills-button" id="skills-button">See More</a>
                </section>
            </div>

            <div class="resume__right">
                <!--========== EXPERIENCE ==========-->
                <section class="experience section" id="experience">
                    <h2 class="section-title">Experiencia</h2>
                    <div class="experience__container bd-grid">

                        <!-- Experiencia 1 -->
                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
                                <span class="experience__line"></span>
                            </div>
                            <div class="experience__data bd-grid">
                                <h3 class="experience__title"><strong>Desarrollador Backend</strong></h3>
                                <span class="experience__company">
                                    Diciembre 2025 - Presente
                                </span>
                                <ul class="experience__list">
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>En este puesto me encargué principalmente del desarrollo backend utilizando Python, creando APIs REST y endpoints eficientes para diferentes aplicaciones web. Mi trabajo se centró en aplicar una arquitectura limpia y escribir código claro, mantenible y orientado a la escalabilidad en entornos complejos..</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Desarrollo de endpoints robustos y bien estructurados en Django y FastAPI.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Creación de serializadores, validaciones de datos y documentación automática de APIs.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Integración con servicios externos, consumo de APIs de terceros y gestión de errores.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Creación de serializadores, validaciones de datos y documentación automática de APIs.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>En la parte de infraestructura trabajé con entornos Linux/Ubuntu, tanto locales como en servidores, incluyendo trabajo con WSL.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Pipenv para gestionar entornos virtuales y dependencias de forma ordenada.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Docker para crear contenedores reproducibles y desplegables.</div>
                                    </li>
                                </ul>
                                <div class="experience__technologies">
                                    <span>Technologies used</span>
                                    <ul class="experience__technologies-list">
                                        <li class="experience__technologies-item">Python</li>
                                        <li class="experience__technologies-item">Django</li>
                                        <li class="experience__technologies-item">Git</li>
                                        <li class="experience__technologies-item">Docker</li>
                                        <li class="experience__technologies-item">SQLite</li>
                                        <li class="experience__technologies-item">Kubernetes</li>
                                        <li class="experience__technologies-item">MySQL</li>
                                        <li class="experience__technologies-item">Linux</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Experiencia 2 -->
                        <div class="experience__content">
                            <div class="experience__time">
                                <span class="experience__rounder"></span>
                                <!-- último sin línea -->
                            </div>
                            <div class="experience__data bd-grid">
                                <h3 class="experience__title"><strong>Técnico de Incidencias</strong></h3>
                                <span class="experience__company">
                                    Junio 2024 - Diciembre 2024
                                </span>
                                <ul class="experience__list">
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>me he encargado principalmente de:
                                        Sistemas WMS: Reflex (parametrización de procesos, resolución de incidencias, análisis y mejora continua).</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Bases de datos: SQL (consultas y soporte a usuarios).</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Gestion de sistemas IT</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Ofrecer soporte cuando existen problemas de hardware o de red.</div>
                                    </li>
                                    <li class="experience__description">
                                        <span class="experience__circle"></span>
                                        <div>Configurar dispositivos y PDA y garantizar que los sistemas funcionaran de manera estable y segura.</div>
                                    </li>
                                </ul>
                                <div class="experience__technologies">
                                    <span>Technologies used</span>
                                    <ul class="experience__technologies-list">
                                        <li class="experience__technologies-item">PostegreSQL</li>
                                        <li class="experience__technologies-item">Linux</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <!--========== CERTIFICATES ==========-->
                <section class="certificate section" id="certificates">
                    <h2 class="section-title">Certificates</h2>

                    <div class="certificate__container bd-grid">
                        <div class="certificate__content bd-grid">
                            <h3 class="certificate__title">
                                C2 EFSet English Certification
                                <a class="nav__linkcert" href="https://cert.efset.org/es/72SVVm" target="_blank">
                                    <i class='bx bx-link-external'></i>
                                </a>
                            </h3>
                            <span class="certificate__company">Plataforma de formación online</span>
                        </div>
                    </div>
                </section>

                <!--========== INTERESTS ==========-->
                <section class="interests section">
                    <h2 class="section-title">Interés</h2>
                    <div class="interests__container bd-grid">
                        <div class="interests__content">
                            <i class="bx bx-network-chart interests__icon"></i>
                            <span class="interests__name">APIs & Microservicios</span>
                        </div>
                        <div class="interests__content">
                            <i class="bx bx-terminal interests__icon"></i>
                            <span class="interests__name">Linux & DevOps</span>
                        </div>
                        <div class="interests__content">
                            <i class="bx bx-code-curly interests__icon"></i>
                            <span class="interests__name">Automatización & Scripting</span>
                        </div>
                        <div class="interests__content">
                            <i class="bx bx-data interests__icon"></i>
                            <span class="interests__name">Bases de datos</span>
                        </div>
                        <div class="interests__content">
                            <i class="bx bx-layer interests__icon"></i>
                            <span class="interests__name">Clean Architecture</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <p class="updated">Updated: Dic 2025</p>
    </main>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-up-arrow-alt scrollttop__icon'></i>
    </a>

    <!--========== MAIN JS ==========-->
    <script src="{% static 'assets/js/main_cv.js' %}"></script>
</body>
</html>
