{% load static %}
<section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title">
        <h2>Portafolio</h2>
        <p>Mis Proyectos</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-project">Project</li>
            <li data-filter=".filter-certification">Certification</li>
            <li data-filter=".filter-badge">Badge</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
  {% for portfolio_items in portfolio %}
    <div class="portfolio-box portfolio-item {{ portfolio_items.filter }}">
      <div class="img-wrapper">

        {# IMAGEN ESTÁTICA POR PROYECTO #}
        {% if portfolio_items.id == 1 %}
          <a
            data-fancybox
            data-src="{% static 'images/portfolio/project/cap2.png' %}"
            data-caption="{{ portfolio_items.name }}"
          >
            <img
              src="{% static 'images/portfolio/project/cap2.png' %}"
              class="img-inner"
              alt="{{ portfolio_items.name }} Image"
              loading="lazy"
              style="{{ portfolio_items.object_fit }}"
            />
          </a>

        {% elif portfolio_items.id == 2 %}
          <a
            data-fancybox
            data-src="{% static 'images/portfolio/project/pr2.png' %}"
            data-caption="{{ portfolio_items.name }}"
          >
            <img
              src="{% static 'images/portfolio/project/pr2.png' %}"
              class="img-inner"
              alt="{{ portfolio_items.name }} Image"
              loading="lazy"
              style="{{ portfolio_items.object_fit }}"
            />
          </a>

        {% else %}
          {# Imagen por defecto para cualquier otro proyecto #}
          <a
            data-fancybox
            data-src="{% static 'images/portfolio/project/pr2.png' %}"
            data-caption="{{ portfolio_items.name }}"
          >
            <img
              src="{% static 'images/portfolio/project/pr2.png' %}"
              class="img-inner"
              alt="{{ portfolio_items.name }} Image"
              loading="lazy"
              style="{{ portfolio_items.object_fit }}"
            />
          </a>
        {% endif %}

      </div>

      <div class="protect-imgwrapper">
        <h5><b>{{ portfolio_items.name }}</b></h5>
      </div>

      <div class="imgwrapper-link">
        {% if portfolio_items.link1 and portfolio_items.link2 %}
          <a href="{{ portfolio_items.link1 }}" target="_blank">
            <i class="fa-regular fa-code fa-sm"></i> Code
          </a>
          <a href="{{ portfolio_items.link2 }}" target="_blank">
            <i class="fa-solid fa-eye fa-sm"></i> View
          </a>
        {% else %}
          <a href="{{ portfolio_items.link3 }}" target="_blank">
            <i class="fa-regular fa-circle-check fa-sm"></i> Verify
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

    </div>
</section>
